/* Global */
/* fonts Loaded */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* Chats Page */
body, html {
  height: 100vh;
  margin: 0;
}
.bgimg {
  background-image: url('./components/assets/images/background.jpg');
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: Poppins;
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}
::-webkit-scrollbar {
  width: 2px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}




